<video width="320" height="240" controls>
  <source src="big_buck_bunny.mp4"  type="video/mp4; codecs=avc1.42E01E,mp4a.40.2">

  <!-- Fallback flash: -->
  <object type="application/x-shockwave-flash"
          data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf"
          width="640" height="360">
    <param name="flashvars"
            value='config={"clip":"http://host/ruta/big_buck_bunny.mp4"}'/>
          <!-- Fallback final: -->
          <p>No se puede reproducir el video</p>
  </object>
</video>
